include Makefile
include requirements-development.txt
include *.rst
include test/*.py
include doc/conf.py doc/*.rst
recursive-include doc/build/html *
include plyvel/*.pyx plyvel/*.pxd plyvel/*.pxi plyvel/comparator.h
