#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with python2

override_dh_auto_build:
	make

override_dh_auto_install:
	dh_auto_install -Spython_distutils
