name: plyvel build

on: [push, pull_request]

jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    
    - name: Install Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install -r requirements-dev.txt

    - name: Build sdist
      run: python setup.py sdist
    
    - name: Save sdist
      uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz
        
  wheel:
    name: ${{ matrix.os }}-${{ matrix.cibw.arch }}-wheel
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            name: mac-intel
            cibw:
              arch: x86_64
              build: "cp37* cp38* cp39*"

          - os: macos-latest
            name: mac-arm
            cibw:
              arch: universal2
              build: "cp39*"

          - os: ubuntu-latest
            name: manylinux
            cibw:
              arch: "auto aarch64"
              build: "cp37* cp38* cp39*"
  
    env:
      CIBW_BUILD: "${{ matrix.cibw.build || '*' }}"
      CIBW_ENVIRONMENT_MACOS: "C_INCLUDE_PATH=/usr/local/include CPLUS_INCLUDE_PATH=/usr/local/include LIBRARY_PATH=/usr/local/lib"
      CIBW_ARCHS_LINUX: "${{ matrix.cibw.arch || 'auto' }}"
      CIBW_ARCHS_MACOS: "${{ matrix.cibw.arch || 'auto' }}"
      CIBW_BEFORE_ALL_LINUX: "gcc -v && bash scripts/install-snappy.sh && bash scripts/install-leveldb.sh"
      CIBW_BEFORE_ALL_MACOS: "clang -v && bash scripts/install-snappy.sh && bash scripts/install-leveldb.sh"      
      CIBW_REPAIR_WHEEL_COMMAND_LINUX: "auditwheel repair --lib-sdir . -w {dest_dir} {wheel}"
      CIBW_REPAIR_WHEEL_COMMAND_MACOS: "delocate-listdeps {wheel} && delocate-wheel -w {dest_dir} -v {wheel}"

      # Build using the manylinux2014 image instead of manylinux2010
      # CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
      # CIBW_MANYLINUX_I686_IMAGE: manylinux2014
      # CIBW_MANYLINUX_AARCH64_IMAGE: manylinux2014
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    
    - name: Set up QEMU
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v1
      with:
        platforms: all

    - name: Install cibuildwheel
      run: |
        pip install -U setuptools pip wheel
        pip install -U cibuildwheel

    - name: Build
      run: |
          python -m cibuildwheel --output-dir wheelhouse

    - uses: actions/upload-artifact@v2
      with:
          path: ./wheelhouse/*.whl